body {
    background-color: #212121;
    font-family: sans-serif;
}

h1 {
    text-align: center;
    font-family: sans-serif;
}

p, h1, td, th {
    padding: 10px;
    color: white;
    font-family: sans-serif;
}

th, td {
    text-align: center;
    border: solid black 1px;
}

th {
    font-size: 25px;
}

table {
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 2);
    background-color: #424242;
    margin-left: 10px;
}

.col {
    float: left;
}

.left {
    width: 33.33333%;
}

.right {
    width: 66.66666%
}